/* mobile first */

/* personnel ________________________________________________________________________ */
h4{
    font-size: 30px;
}

.post{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    background: linear-gradient(#5db7ca, #083b5a);
    display: flex;
    justify-content: right;
    flex-direction: column; 

}


.personnel{
    color: #ffffff;
    
    padding-left: 30px;
    padding-top: 100px;
       

}

.coordonnee{
    
    padding-left: 30px;
    
    display: flex;
    justify-content: flex-end;

}
.coordonnee_1{
    background-color: #89c0cd;
    width: 400px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 30px;
}

.coordonnee_2{

    padding-top: 10px;
    display: flex;

}

.mail_tel{

    padding-left: 5px;
}


.competences{
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;


}
.competences1{
    background-color: #89c0cd;
    width: 400px;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}
.competence_texte{

    padding-top: 5px;
    padding-bottom: 5px;
}

.formation{
    background-color:  #ffffff;
    


}

.langue{

    padding-top: 30px;
    display: flex;
    justify-content: flex-end;

}

.langue1{

    background-color: #89c0cd;
    width: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}

.icon{
    color: hsl(0, 0%, 35%);
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;


}

.icon1{
    color: hsl(0, 0%, 35%);
    background-color: #ffffff;
    width: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}

.icon-image_titre{

    display: flex;
}

/* utilisation de id pour le lettrage ________________________________________*/

#adobe{
    width: 220px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;

}

#os{
    width: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    

}

#web{
    width: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;

}

/* insertion des Icons __________________________________________________________*/

.icon_image{

    display: flex;

}

.icon_image_dessin{

    width: 200px;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;

}

.icon_image1{

    width: 100px;
    height: 100px;
    background-color: black;
   
}

.icon_image2{

    width: 100px;
    height: 100px;
    background-color: red;
   
}

.icon_image3{

    width: 100px;
    height: 100px;
    background-color: yellow;
   
}

.icon_image4{

    width: 100px;
    height: 100px;
    background-color: green;
   
}

/* barre verticale ________________________________________________________*/
#redline{
        width:2px;
        height:200px;
        background-color:#7c7c7c;
                 
        }

#whiteline{
    width:2px;
    height:30px;
    background-color:#ffffff;
                     
            }

        /*_________________________________________________________________*/
.icon_image_apli{

    width: 100px;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;

}

.icon_apli1{

    width: 100px;
    height: 100px;
    background-color: black;
   
} 

.icon_apli2{

    width: 100px;
    height: 100px;
    background-color: red;
   
}

.icon_image_web{

    width: 100px;
    height: 200px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;

}

.icon_web1{

    width: 100px;
    height: 100px;
    background-color: yellow;
   
} 

.icon_web2{

    width: 100px;
    height: 100px;
    background-color: green;
   
}

/* expérience ____________________________________________________________________*/

@media(max-width: 767px)
{
/* Entrez ici vos propriÃ©tÃ©s CSS lorsque l'utilisateur est sur smartphone */
}